<div class="shop-detail-wrapper">
    <div class="pro-head">
        {{#if productDetail.new}}
            <span class="new-label label label-danger">New </span>
        {{/if}}
        <h2>{{productDetail.name}} &nbsp;&nbsp;
            <button class="btn btn-default edit-btn">
                <a href="/edit_product/{{productDetail.productId}}" class="glyphicon glyphicon-pencil "></a>
            </button>
        </h2>
    </div>
    <div class="product-info-wrapper">
        <table class="table table-borderless">
            <thead>
            </thead>
            <tbody>
            <tr>
                <th style="width: 15%;">Giá: </th>
                <td>{{formatPrice productDetail.salePrice}}</td>
                <th style="width: 15%;">Giá trước giảm: </th>
                <td class="sale-price">{{formatPrice productDetail.price}}</td>
            </tr>
            <tr>
                <th style="width: 15%;">Cửa hàng: </th>
                <td><a href="/store_detail/{{productDetail.store.storeId}}">{{productDetail.store.name}}</a></td>
                <th style="width: 15%;">Thương hiệu: </th>
                <td>{{productDetail.store.brand.name}}</td>
            </tr>
            <tr>
                <th style="width: 15%;">Loại sản phẩm: </th>
                <td>{{productDetail.category.categoryName}}</td>
                <th style="width: 15%;">Số lượt mua: </th>
                <td>{{productDetail.purchaseCount}}</td>
            </tr>
            <tr>
                <th style="width: 15%;">Mô tả: </th>
                <td colspan="4">{{productDetail.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pro-head">
        <h2>Ảnh sản phẩm &nbsp;
            <button class="btn btn-default edit-btn">
                <a href="/edit_product_image/{{productDetail.productId}}" class="glyphicon glyphicon-pencil "></a>
            </button>
        </h2>
    </div>
    {{#each imageUrlChunks}}
        <div class="row">
            {{#each this}}
                <div class="col-md-3 product-grid">
                    <div class="product-items">
                        <div class="project-eff">
                            <img style="max-width: 250px; height: 200px;" class="img-responsive" src="{{this}}" alt="">
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
    <div class="clearfix"> </div>
</div>
