<div class="shop-wrapper">
    <div class="pro-head">
        <h2>Quản lý cửa hàng</h2>
    </div>
    <div class="table-wrapper table-responsive">
        <table class="table">
            <thead>
            <tr class="success text-center">
                <th style="width:5%;">ID</th>
                <th style="width:10%;">Thương hiệu</th>
                <th style="width:15%;">Tên cửa hàng</th>
                <th style="width:15%;">Chủ sở hữu</th>
                <th style="width:25%;">Địa chỉ</th>
                <th style="width:10%;">Tỉnh thành</th>
                <th style="width:10%;">Số SP đã bán</th>
                <th style="width:10%;">Ngày đăng ký</th>
            </tr>
            </thead>
            <tbody>
            {{#each stores}}
                <tr>
                    <td>{{storeId}}</td>
                    <td>{{default brand.name "..."}}</td>
                    <td>
                        <a href="{{myAppend "/store_detail/" storeId}}"  class="text-success text-"><u>{{name}}</u></a>
                    </td>
                    <td>{{owner}}</td>
                    <td>{{default address "..."}}</td>
                    <td>{{default city "..."}}</td>
                    <td class="text-center">{{default purchaseCount "..."}}</td>
                    <td>{{parseDate createdDate "/"}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <!--Pagination-->
    {{#compare pages ">" 0}}
        <nav class="pagination-wrapper text-center" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{#compare page "===" 1}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="/store?page={{dec page}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {{/compare}}

                {{{generatePagination "store" page pages}}}

                {{#compare page "===" pages}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="/store?page={{inc page}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {{/compare}}
            </ul>
        </nav>
    {{/compare}}
    <div class="clearfix"> </div>
</div>
