<div class="shop-wrapper">
    <div class="pro-head">
        <h2>Quản lý cửa hàng</h2>
    </div>
    <div class="table-wrapper table-responsive">
        <table class="table">
            <thead>
            <tr class="success text-center">
                <th style="width:3%;">#</th>
                <th style="width:4%;">ID</th>
                <th style="width:10%;">Thương hiệu</th>
                <th style="width:15%;">Tên cửa hàng</th>
                <th style="width:13%;">Chủ sở hữu</th>
                <th style="width:25%;">Địa chỉ</th>
                <th style="width:10%;">Tỉnh thành</th>
                <th style="width:10%;">Số SP đã bán</th>
                <th style="width:10%;">Ngày đăng ký</th>
            </tr>
            </thead>
            <tbody>
            {{#each stores}}
                <tr>
                    <td>{{inc @index}}</td>
                    <td>{{storeId}}</td>
                    <td>{{default brand.name "..."}}</td>
                    <td>

                        <a href="{{myAppend "/store_detail/" storeId}}"  class="text-success text-"><u>{{name}}</u></a>

                    </td>
                    <td>{{owner}}</td>
                    <td>{{default address "..."}}</td>
                    <td>{{default city "..."}}</td>
                    <td class="text-center">{{default purchaseCount "..."}}</td>
                    <td>{{parseDate createdDate "/"}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="clearfix"> </div>
</div>
