<div class="shop-detail-wrapper">
    <div class="pro-head">
        <h2>{{storeDetail.name}}</h2>
    </div>
    <div class="shop-info-wrapper">
        <table class="table table-borderless">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th style="width: 15%;">Thương hiệu</th>
                    <td>{{storeDetail.brand.name}}</td>
                    <th style="width: 15%;">Chủ sở hữu: </th>
                    <td>{{storeDetail.owner}}</td>
                </tr>
                <tr>
                    <th style="width: 15%;">Địa chỉ: </th>
                    <td>{{storeDetail.address}}</td>
                    <th style="width: 15%;">Tỉnh thành: </th>
                    <td>{{storeDetail.city}}</td>
                </tr>
                <tr>
                    <th style="width: 15%;">Số SP đã bán: </th>
                    <td>{{storeDetail.purchaseCount}}</td>
                    <th style="width: 15%;">Ngày tham gia: </th>
                    <td>{{parseDate storeDetail.createdDate "/"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pro-head">
        <h2>Sản phẩm</h2>
    </div>
    {{#each productChunks}}
        <div class="row">
            {{#each this}}
                <div class="col-md-3 product-grid">
                    <div class="product-items">
                        <div class="project-eff">
                            <div id="nivo-lightbox-demo"> <p> <a href="/product_detail/{{productId}}"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                            <img style="max-width: 250px; height: 200px;" class="img-responsive" src="{{urlImage}}" alt="">
                        </div>
                        <div class="product-cost">
                            <h4 class="product-items-name">{{name}}</h4>
                            <h5>{{formatPrice salePrice}} <span class="sale-price">{{formatPrice price}}</span></h5>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
    <div class="clearfix"> </div>
</div>
