<div class="shop-detail-wrapper">
    <div class="pro-head">
        <h2>{{storeDetail.name}}</h2>
    </div>
    <div class="shop-info-wrapper">
        <table class="table table-borderless">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th style="width: 15%;">Thương hiệu</th>
                    <td>{{storeDetail.brand.name}}</td>
                    <th style="width: 15%;">Chủ sở hữu: </th>
                    <td>{{storeDetail.owner}}</td>
                </tr>
                <tr>
                    <th style="width: 15%;">Địa chỉ: </th>
                    <td>{{storeDetail.address}}</td>
                    <th style="width: 15%;">Tỉnh thành: </th>
                    <td>{{storeDetail.city}}</td>
                </tr>
                <tr>
                    <th style="width: 15%;">Số SP đã bán: </th>
                    <td>{{storeDetail.purchaseCount}}</td>
                    <th style="width: 15%;">Ngày tham gia: </th>
                    <td>{{parseDate storeDetail.createdDate "/"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pro-head">
        <h2>Sản phẩm &nbsp;
            <button class="btn btn-default edit-btn">
                <a href="/add_product/{{storeDetail.storeId}}" class="glyphicon glyphicon-plus "></a>
            </button>
        </h2>
    </div>
    {{#each productChunks}}
        <div class="row">
            {{#each this}}
                <div class="col-md-3 product-grid">
                    <div class="product-items">
                        <span class="product-label label label-danger">Đã bán <span>{{purchaseCount}}</span></span>
                        <div class="project-eff">
                            <div id="nivo-lightbox-demo"> <p> <a href="/product_detail/{{productId}}" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                            <img style="max-width: 250px; height: 200px;" class="img-responsive" src="{{urlImage}}" alt="">
                        </div>
                        <div class="product-cost">
                            <h4 class="product-items-name"><a href="/product_detail/{{productId}}">{{name}}</a></h4>
                            <h5>{{formatPrice salePrice}} <span class="sale-price">{{formatPrice price}}</span></h5>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
    <!--Pagination-->
    {{#compare pages ">" 0}}
        <nav class="pagination-wrapper text-center" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{#compare page "===" 1}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="/store_detail/{{storeDetail.storeId}}?page={{dec page}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {{/compare}}

                {{{generatePagination storeDetailUrl page pages}}}

                {{#compare page "===" pages}}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="/store_detail/{{storeDetail.storeId}}?page={{inc page}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {{/compare}}
            </ul>
        </nav>
    {{/compare}}
    <div class="clearfix"> </div>
</div>
