<div class="product-block">
    <div class="pro-head">
        <h2>Top 10 sản phẩm bán chạy</h2>
    </div>
    <div class="row">
        <form action="/statistics_product" method="get" class="col-md-4">
            <div class="form-group">
                <select id="statisticSelectShop" class="form-control" name="storeId">
                    {{#select storeId}}
                            <option value="-1">Tất cả</option>
                        {{#each storeNames}}
                            <option value="{{storeId}}">{{name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </form>
    </div>
    {{#if store}}
        <div class="shop-info-wrapper">
            <table class="table table-borderless">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th style="width: 15%;">Thương hiệu</th>
                    <td>{{store.brand.name}}</td>
                    <th style="width: 15%;">Chủ sở hữu: </th>
                    <td>{{store.owner}}</td>
                </tr>
                <tr>
                    <th style="width: 15%;">Địa chỉ: </th>
                    <td>{{store.address}}</td>
                    <th style="width: 15%;">Tỉnh thành: </th>
                    <td>{{store.city}}</td>
                </tr>
                <tr>
                    <th style="width: 15%;">Số SP đã bán: </th>
                    <td>{{store.purchaseCount}}</td>
                    <th style="width: 15%;">Ngày tham gia: </th>
                    <td>{{parseDate store.createdDate "/"}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {{/if}}
    {{#each topSaleProductChunks}}
        <div class="row">
            {{#each this}}
                <div class="col-md-3 product-grid">
                    <div class="product-items">
                        <span class="product-label label label-danger">Đã bán <span>{{purchaseCount}}</span></span>
                        <div class="project-eff">
                            <div id="nivo-lightbox-demo"> <p> <a href="/product_detail/{{productId}}" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                            <img style="max-width: 250px; height: 200px;" class="img-responsive" src="{{urlImage}}" alt="">
                        </div>
                        <div class="product-cost">
                            <h4 class="product-items-name"><a href="/product_detail/{{productId}}">{{name}}</a></h4>
                            <h5>{{formatPrice salePrice}} <span class="sale-price">{{formatPrice price}}</span></h5>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
    <div class="clearfix"> </div>
</div>
