<div id="statistics_revenue-wrapper">
    <div class="pro-head">
        <h2>Thống kê doanh số bán</h2>
    </div>
    <div class="chart-main-block">
        <div class="chart-first-line">
            <div class="col-md-6 chart-blo-1">
                <h2 class="text-success">10 ngày gần đây nhất</h2>
                <div class="line-chart">
                    <canvas id="statisticsDay" height="300" width="560" style="width: 560px; height: 300px;"> </canvas>
                    <script>
                        var dateLineChartData = {
                            labels : [{{{statisticsByDayLabels}}}],
                            datasets : [
                                {
                                    fillColor : "rgba(255, 51, 51, 0.74)",
                                    strokeColor : "#f20d0d",
                                    pointColor : "#f20d0d",
                                    pointStrokeColor : "#fff",
                                    data : [{{statisticsByDay}}]
                                }
                            ]
                        };
                        new Chart(document.getElementById("statisticsDay").getContext("2d")).Line(dateLineChartData);

                    </script>
                </div>
            </div>
            <div class="col-md-6 chart-blo-1">
                <h2 class="text-success">15 tuần trong năm gần đây nhất</h2>
                <div class="line-chart">
                    <canvas id="statisticsWeek" height="300" width="560" style="width: 560px; height: 300px;"> </canvas>
                    <script>
                        var weekLineChartData = {
                            labels : [{{{statisticsByWeekLabels}}}],
                            datasets : [
                                {
                                    fillColor : "rgba(252, 130, 19, 0.74)",
                                    strokeColor : "#FC8213",
                                    pointColor : "#FC8213",
                                    pointStrokeColor : "#fff",
                                    data : [{{statisticsByWeek}}],
                                },
                            ]
                        };
                        new Chart(document.getElementById("statisticsWeek").getContext("2d")).Line(weekLineChartData);

                    </script>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="chart-second-line">
            <div class="col-md-6 chart-blo-1">
                <h2 class="text-success">Theo tháng năm {{currentYear}}</h2>
                <div class="line-chart">
                    <canvas id="statisticsMonth" height="300" width="560" style="width: 560px; height: 300px;"> </canvas>
                    <script>
                        var monthLineChartData = {
                            labels : [{{{statisticsByMonthLabels}}}],
                            datasets : [
                                {
                                    fillColor : "rgba(51, 122, 183, 0.71)",
                                    strokeColor : "#337AB7",
                                    pointColor : "#337AB7",
                                    pointStrokeColor : "#fff",
                                    data : [{{statisticsByMonth}}],
                                },
                            ]
                        };
                        new Chart(document.getElementById("statisticsMonth").getContext("2d")).Line(monthLineChartData);

                    </script>
                </div>
            </div>
            <div class="col-md-6 chart-blo-1">
                <h2 class="text-success">Theo quý năm {{currentYear}}</h2>
                <div class="line-chart">
                    <canvas id="statisticsQuarter" height="300" width="560" style="width: 560px; height: 300px;"> </canvas>
                    <script>
                        var quarterLineChartData = {
                            labels : [{{{statisticsByQuarterLabels}}}],
                            datasets : [
                                {
                                    fillColor : "rgba(0, 230, 0, 0.74)",
                                    strokeColor : "#00b300",
                                    pointColor : "#00b300",
                                    pointStrokeColor : "#fff",
                                    data : [{{statisticsByQuarter}}],
                                },
                            ]
                        };
                        new Chart(document.getElementById("statisticsQuarter").getContext("2d")).Line(quarterLineChartData);

                    </script>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="chart-third-line">
            <div class="col-md-6 chart-blo-1">
                <h2 class="text-success">5 năm gần đây nhất</h2>
                <div class="line-chart">
                    <canvas id="statisticsYear" height="300" width="560" style="width: 560px; height: 300px;"> </canvas>
                    <script>
                        var yearLineChartData = {
                            labels : [{{{statisticsByYearLabels}}}],
                            datasets : [
                                {
                                    fillColor : "rgba(191, 64, 191, 0.74)",
                                    strokeColor : "#862d86",
                                    pointColor : "#862d86",
                                    pointStrokeColor : "#fff",
                                    data : [{{statisticsByYear}}],
                                },
                            ]
                        };
                        new Chart(document.getElementById("statisticsYear").getContext("2d")).Line(yearLineChartData);

                    </script>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
