<div class="user-wrapper">
    <div class="pro-head">
        <h2>Quản lý người dùng</h2>
    </div>
    <div class="table-wrapper table-responsive">
        {{#if isSuperAdmin}}
            <table class="table">
                <thead>
                <tr class="success text-center">
                    <th style="width:5%;">#</th>
                    <th style="width:5%;">ID</th>
                    <th style="width:15%;">Tên tài khoản</th>
                    <th style="width:10%;">Loại TK</th>
                    <th style="width:15%;">Email</th>
                    <th style="width:15%;">Số điện thoại</th>
                    <th style="width:10%;">Tỉnh thành</th>
                    <th style="width:15%;">Tình trạng</th>
                    <th style="width:10%;"></th>
                </tr>
                </thead>
                <tbody>
                {{#each users}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{userId}}</td>
                        <td>

                            <a href="{{myAppend "/user_detail/" userId}}"  class="text-success text-"><u>{{username}}</u></a>

                        </td>
                        <td>{{getUserType type}}</td>
                        <td>{{email}}</td>
                        <td>{{default phone "...."}}</td>
                        <td>{{default city "..."}}</td>
                        <td data-userId="{{userId}}" class="status-text" style="color: {{getStatusColor isActive}}">{{getStatusMsg isActive}}</td>
                        <td><button type="button" data-userId="{{userId}}" data-isActive="{{numberizeBoolean isActive}}" class="set-status-btn btn {{getStatusBlockBtnClass isActive}}">{{getStatusBlockMsg isActive}}</button></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{else}}
            <table class="table">
                <thead>
                <tr class="success text-center">
                    <th style="width:5%;">#</th>
                    <th style="width:5%;">ID</th>
                    <th style="width:15%;">Tên tài khoản</th>
                    <th style="width:15%;">Email</th>
                    <th style="width:15%;">Số điện thoại</th>
                    <th style="width:15%;">Tỉnh thành</th>
                    <th style="width:15%;">Tình trạng</th>
                    <th style="width:15%;"></th>
                </tr>
                </thead>
                <tbody>
                {{#each users}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{userId}}</td>
                        <td>

                            <a href="{{myAppend "/user_detail/" userId}}"  class="text-success text-"><u>{{username}}</u></a>

                        </td>
                        <td>{{email}}</td>
                        <td>{{default phone "..."}}</td>
                        <td>{{default city "..."}}</td>
                        <td data-userId="{{userId}}" class="status-text" style="color: {{getStatusColor isActive}}">{{getStatusMsg isActive}}</td>
                        <td><button type="button" data-userId="{{userId}}" data-isActive="{{numberizeBoolean isActive}}" class="set-status-btn btn {{getStatusBlockBtnClass isActive}}">{{getStatusBlockMsg isActive}}</button></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{/if}}
    </div>
    <div class="clearfix"> </div>
</div>

